/* DEPENDENCIES */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Colors */
  --PRIMARY-BG: #0d1b2a;
  --SECONDARY-BG: #1b263b;
  --PRIMARY-TEXT-COLOR: #ffffff;
  --SECONDARY-TEXT-COLOR: #e0e1dd;
  --TERTIARY-TEXT-COLOR: #778da9;
  --BORDER-COLOR: #415a77;

  /* Fonts */
  --MAIN-FONT: "SUSE", sans-serif;
  --SECONDARY-FONT: "Montserrat", sans-serif;

  --FSIZE-XL: 2rem;
  --FSIZE-L: 1.5rem;
  --FSIZE: 1rem;
  --FSIZE-S: 0.8rem;
  --FSIZE-XS: 0.5rem;
}

/* HEADER */
header {
  background-color: var(--SECONDARY-BG);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--PRIMARY-TEXT-COLOR);
  text-decoration: none;
  font-size: var(--FSIZE-L);
}

header nav ul li a:hover {
  color: var(--SECONDARY-TEXT-COLOR);
}

body {
  background-color: var(--PRIMARY-BG);
  font-size: var(--FSIZE);
  color: var(--PRIMARY-TEXT-COLOR);
  font-family: var(--MAIN-FONT);
}

main {
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem; */
  /* align-items: space-between; */
}

/* FOOTER */
footer {
  background-color: var(--PRIMARY-BG);
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--SECONDARY-TEXT-COLOR);
  font-size: var(--FSIZE-S);
}

/* Global Assets */
.submit-btn {
  align-items: center;
  background-color: var(--SECONDARY-BG);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--TERTIARY-TEXT-COLOR);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.submit-btn:hover,
.submit-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submit-btn:hover {
  transform: translateY(-1px);
}

.submit-btn:active {
  background-color: var(--TERTIARY-TEXT-COLOR);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: var(--PRIMARY-BG);
  transform: translateY(0);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  /* display: none; Initially hidden */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}