{% extends 'base.html' %}

{% block title %} Babel | History {% endblock %}

{% block depends %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/history.css')}}">
{% endblock %}

{% block content %}
<main>
    <section class="history-section">
        <h1>Your History</h1>

        <div class="filters">
            <label for="filter">Filter:</label>
            <select id="filter" name="filter" class="selection">
                <option value="0">All</option>
                <option value="1">Translations</option>
                <option value="2">Transcriptions</option>
            </select>

            <label for="sort">Sort by:</label>
            <select id="sort" name="sort" class="selection">
                <option value="0">Descending</option>
                <option value="1">Ascending</option>
            </select>
        </div>

        <ul class="history-list"></ul>
        <button class="submit-btn" id="load-more" type="button">Load More</button>
    </section>
</main>
<script type="text/javascript" src="{{url_for('static', filename='scripts/history.js')}}"></script>
{% endblock %}
