{% extends 'base.html' %}
{% block title %} Babel | Translate {% endblock %}

{% block depends %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/translate.css')}}" />
{% endblock %}

{% block content %}
<main>
    <section class="info" id="info">
        Easily translate your text in just a few clicks! Enter your original text in the left box, choose the language
        you want to translate from, then select your desired translation language on the right. Your translated text
        will appear instantly, helping you bridge the gap between languages with ease.
    </section>
    <section class="wrapper" id="wrapper">
        <div class="container" id="og-text-container">
        <input list="source-language" id="source-languages" class="lang-list" name="source-languages" placeholder="Select or type a language (auto)">
            <datalist id = "source-language" class="language-list">

            </datalist>
        </input>
            <textarea class="textbox-big" name="original-text" id="original-text"
                placeholder="Enter the text you wish to translate"></textarea>
        </div>
        <div class="container" id="translated-text-container">
            <input list="dest-language" id="dest-languages" class="lang-list" name="dest-languages" placeholder="Select or type a language">
            <datalist id = "dest-language" class="language-list">

            </datalist>
        </input>
            <div class="textbox-big" id="translated-text" name="translated-text"
                aria-placeholder="Your translated text will come here"></div>
        </div>
    </section>
    <button type="button" id="submit-text" class="submit-btn">Translate</button>
</main>

<script type="text/javascript" src="{{url_for('static', filename = 'scripts/load_languages.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'scripts/translate.js')}}"></script>
{% endblock %}